  .navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 12px 24px;
  }

  .navbar-brand {
    font-weight: 700;
    font-size: 1.25rem;
    color: #2e7d32;
    text-decoration: none;
  }

  .toggle-button{
    align-items: center;
  }

  .trigger-btn{
    border: none;
    background-color: #007bff; /* Optional: choose your own color */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /* Optional */
  }

  #toggle-dark-mode {
    transform: scale(1.5);
    margin-right: 50px;
    cursor: pointer;
    align-items: center;
  }

  .buttons{
    display: flex;
    justify-content: center;
  }

  .button {
    border-radius: 10px;
    background-color: #2e7d32;
    color: #e9f8ea;
  }

  .form-select,
  .form-control {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    font-size: 0.95rem;
  }
  body {
  font-family: Arial, sans-serif;
}
    .carousel-inner img {
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    }
    .carousel {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      overflow: hidden;
    }
    .navbar ul {
    padding: 25px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    } 
    html {
      scroll-behavior: smooth;
    }
    .card {
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
    }